###--CORE--##
chainlit
llama-index
langchain
tiktoken

###--TOOLS--###
trafilatura
wordcloud
matplotlib
pyperclip
PyPDF2
python-pptx
python-docx
pandas
openpyxl
tabulate
wolframalpha
google-search-results